//
//  Secrets.xcconfig
//  d2d-map-service
//
//  Created by Emin Okic on 6/15/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SIGNUP_EMAIL_ENDPOINT=https://97h88qq356.execute-api.us-east-1.amazonaws.com/Testing/SendSignupEmail
ANALYTICS_ENABLED=true
