//
//  Secrets.xcconfig
//  d2d-map-service
//
//  Created by Emin Okic on 6/3/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

ISSUER_URL = https://cognito-idp.us-east-2.amazonaws.com/us-east-2_3qKzMckST
CLIENT_ID = 7hkvtmon35nr1qkjnscbvgsosk
REDIRECT_URI = com.yourapp.d2dcrm://oauth2redirect
LOGOUT_URI = "myapp://logout"
