<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.yourapp.d2dcrm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>ISSUER_URL</key>
	<string>$(ISSUER_URL)</string>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>REDIRECT_URI</key>
	<string>com.yourapp.d2dcrm://oauth2redirect</string>
	<key>LOGOUT_URI</key>
	<string>myapp://logout</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeCar</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>&quot;This app needs access to your location to show it on the map.&quot;</string>
</dict>
</plist>
